* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: black;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 7px;
}

.nav-list li {
    display: inline;
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav-list li a:hover {
    color: rgb(86, 223, 223);
    transform: scale(1.1);
}


.contact-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    color: black;
    background-color: grey;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
    background-color: rgb(86, 223, 223);
    color: black;
    transform: scale(1.2);
}